*{
    margin: 0;
    padding: 0;
}

.content {
    height: 100px;
    width: 100vw;
    position: flex;
    flex-direction: column;
}

.nav-bar {
    height: 100vh;
    width: 100%;
    position: inherit;
    background-color:rgb(32, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 10px;
    padding: 10px;
    z-index: 9999;
}

.logo{
    justify-content: center;
    align-items: center;
}
.logo-text {
    cursor: pointer;
}

.logo-text h3{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 5%;
    top: 15px;
    transform: translate(30%, 15%);
    text-transform: uppercase;
    text-align: center;
    font-display: sans-serif;
    letter-spacing: 2px;
}

.nav-items{
    display: flex;
}
.nav-items ul{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 60px;
}

.nav-items li{
    font-family: 'ubuntu', sans-serif;

}
.nav-items li a{
    color: white;
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}
.nav-items li a:hover{
    color: white;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 10px white;
}
.content-section{
    position: fixed;
    top: 100px;
    height: 100vh;
    width: 215vh;
    
}
/*home content*/
.home-content {
    position: absolute;
    top: 0;
    height: 100%;
    min-width: 100%;
    background-image: url("/img/photo_2021-11-27_11-53-06.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: .3;
}

.home-content .banner{
    height: 200px;
    width: 950px;
    margin: 10%auto;
    justify-content: center;
    align-items: center;
}
.home-content .banner .title {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home-content .banner .title h1{
    color: black;
    font-size: 40px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
    display: block;
    width: fit-content;
    position: relative;
    color: crimson;
}

.home-content .banner .title h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: black;
    animation: text_reveal_box 1s ease ;
    animation-delay: 1s;

}

.home-content .banner .title h1 span .cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(202, 63, 21);
    background-color: transparent;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.home-content .banner .title h1 span.cta:hover {
    color:rgb(202, 63, 21);
    background-color: black ;
}

.home-content .banner .title p {
    background-color: white;
    text-align: center;
    margin-top: 20px;
}

/*keyframe*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
/*end of keyrames*/
/*end of home section*/

/*about me section*/

.about-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    min-height: 10px;
    padding: 10px;
    margin-bottom: 60px ;
    box-sizing: border-box;
}
.about-content .col-left{
    margin: 2px;
    padding: 2px;

}

.about-content .col-left img{
    z-index:-1;
    width: 300px;
    height: 400px;
}

.about-content .col-right{
    float: right;
    width: 100%;
}

.about-content .col-right .title{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.about-content .col-right .title h1{
    color: black;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 2px;
    letter-spacing: .1rem;
    margin-bottom: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.about-content .col-right p{
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 17px;
} 
/*end of about me section*/

/*services section*/

.services-content {
    background-color: white ;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;

}
.services-content .banner{
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.services-content .banner .col-right{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}
.services-content .banner .col-right title{
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.services-content .banner .col-right title h1{
    text-align: center;
    text-decoration: underline;
    justify-content: center;
    position: absolute;
    font-size: 40px;
}
.services-content .banner .col-right img{
    z-index: 1;
}
.services-content .banner .col-right h4{
    text-decoration: underline;
    font-size: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1rem;
    color: black;
}

.services-content .banner .col-right p {
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.services-content .banner .col-left {
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.services-content .banner .col-left img{
    z-index: 1;
}
.services-content .banner .col-left h4{
    text-decoration: underline;
    font-size: 20px;
    color: black;
    align-items: center;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;
    text-indent: 1rem;
}
.services-content .banner .col-left p{
    justify-content: center;
    position: relative;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/*end of services section*/

/*start of contacts section*/
.contacts-content {
    background-color: rgba(12, 12, 12, 0.9);
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    box-sizing: border-box;

}
.contacts-content .title{
    display: flex;
    flex-direction: column;
    
}
.contacts-content .title h2{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    text-decoration: underline;
    opacity: .6;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    margin: 6px;
    padding: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10px;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;

}
